<div class="row">
	<div class="col-md-6 d-flex">
		<div class="card ctm-border-radius shadow-sm grow flex-fill">
			<div class="card-header">
				<h4 class="card-title mb-0">Working From Home</h4>
				<span class="mb-0 ctm-text-sm">Reflect your company's working from home policy by editing the approval process or disabling the feature entirely.</span>
			</div>
			<div class="card-body">
				<div class="card-content">
					<span class="wk-home h6">Working From Home</span>
					<div class="custom-control custom-switch float-right">
						<input type="checkbox" class="custom-control-input" id="customSwitch1" checked/>
						<label class="custom-control-label" for="customSwitch1"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 d-flex">
		<div class="card settings-card ctm-border-radius shadow-sm grow flex-fill">
			<div class="card-header w-100">
				<h4 class="card-title mb-0 d-block">Focus Technologies</h4>
			</div>
			<div class="card-body">
				<div id="company-name">
					<div class="table-responsive bg-white">
						<table class="table">
							<thead>
								<tr>
									<th>Team Member</th>
									<th>Allowance</th>
									<th>Days Used</th>
									<th>Approvers</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="employment.html" class="text-primary"><span class="avatar" data-toggle="tooltip" data-placement="top" title="Maria Cotton"><img src="http://dreamguys.co.in/demo/dleohr/template-1/dleohr-vertical/assetsassets/img/profiles/img-6.jpg" alt="Maria Cotton" class="img-fluid"/></span><span>Maria Cotton</span></a></td>
									<td>25</td>
									<td>20</td>
									<td>Robert Wilson</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="row">
	<div class="col-md-12">
		<div class="card ctm-border-radius shadow-sm grow">
			<div class="card-header">
				<h4 class="card-title mb-0">Team Member Notification Settings</h4>
				<p class="ctm-text-sm">You will receive notifications only for Team Leads.</p>
			</div>
			<div class="card-body">
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="birthday" checked />
					<label class="custom-control-label" for="birthday"><span class="h6">Birthdays</span><br/><span class="ctm-text-sm">Reasons to party with reminders a week and a day before a team member’s birthday.</span></label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="Work" checked />
					<label class="custom-control-label" for="Work"><span class="h6">Work Anniversaries</span><br/><span class="ctm-text-sm">Never miss work anniversaries with reminders the week and the day before.</span></label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="Key1" checked />
					<label class="custom-control-label" for="Key1"><span class="h6">Key Dates</span><br/><span class="ctm-text-sm">Informs and notify the day before key dates for each team member.</span></label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="Offboardings" checked />
					<label class="custom-control-label" for="Offboardings"><span class="h6">Off Boardings</span><br/><span class="ctm-text-sm">Informs you when a team member has a leaving date set and reminds you the day before.</span></label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="Home" checked />
					<label class="custom-control-label" for="Home"><span class="h6">Work From Home Notifications</span><br/><span class="ctm-text-sm">Never miss a notification that someone will be working from home.</span></label>
				</div>
				<div class="text-center">
					<button class="btn btn-theme button-1 ctm-border-radius text-white">Update Notification Settings</button>
				</div>
			</div>
		</div>
	</div>
</div>